# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
dist/kbomb-darwin-amd64
dist/kbomb-darwin-amd64.zip
dist/kbomb-darwin-arm64
dist/kbomb-darwin-arm64.zip
dist/kbomb-linux-amd64
dist/kbomb-linux-amd64.zip
dist/kbomb-linux-arm64
dist/kbomb-linux-arm64.zip
dist/kbomb-windows-amd64.zip
dist/kbomb-windows-arm64.zip
migration.json
migration2.json
kbomb
